@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject UserManager<CVGS_PROG3050.Entities.User> UserManager
@inject SignInManager<CVGS_PROG3050.Entities.User> SignInManager
@model List<CVGS_PROG3050.Models.GameViewModel>
<div class="text-center">
    <img src="~/img/Vapor_NoBackground1.png" alt="VapourBanner.png" style="width:auto; height:400px;" />
</div>

<div class="text-center">
    <h1 class="display-4 audiowide-regular">Vapor</h1>
    <br /><br /><br />
    <div class="text-center">
        @if (TempData["WishlistNotification"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["WishlistNotification"]
            </div>
        }

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-info">@TempData["Error"]</div>
        }

        @if (TempData["success"] != null)
        {
            <div class="alert alert-info">@TempData["success"]</div>
        }
    </div>
    <h3 class="audiowide-regular">Games</h3>
    <!--Suggeted that shows 3 random games based that matches prefrences-->
    <br/> 
    
</div>


<!--Select and Display Games-->
@{
    var gameImages = new Dictionary<string, string>
    {
        { "Overwatch 2", "/img/OW2.jpg" },
        { "Palworld", "/img/palworld.jpg" },
        { "Elden Ring", "/img/EldenRingBoxArt.jpg" },
        { "Fallout 4", "/img/Fallout4-1.jpeg" },
        { "Forza Horizon 5", "/img/ForzaH5.jpeg" },
        { "Minecraft", "/img/Minecraft.jpg" },
        { "LEGO: Harry Potter", "/img/Legoharrypotter.jpg" },
        { "LEGO: Star Wars", "/img/LegoStarWars.jpeg" },
        { "Monster Hunter: WORLDS", "/img/Monster.jpeg" },
        { "Nioh: Complete Edition", "/img/Nioh.png" },
        { "Risk of Rain 2", "/img/RiskofRain2.jpg" },
        { "Street Fighter 6", "/img/SF6.jpeg" },
        { "The Elder Scrolls V: Skyrim", "/img/Skyrim.jpg" },
        { "StarField", "/img/Starfield.jpg" },
        { "Tekken 8", "/img/Tekken8.jpeg" },
        { "The King of Fighters XV", "/img/TKoF.jpg" },
        { "Destiny 2", "/img/Destiny2.jpeg" },
        { "defaultImage", "/img/VaporDefault.png" },
    };
}

@{
    var user = await UserManager.GetUserAsync(User);
    var preferredGenre = user?.FavoriteCategory ?? "All";
}
<!--Creates the entire game card-->
<div class="modal fade" id="gameInfoCard" tabindex="-1" aria-labelledby="gameInfoCardLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 85%;">
        <div class="modal-content">
            <div class="modal-header gameInfoDiv">
                <h5 class="modal-title" id="gameInfoCardLabel">Game Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body gameInfoDiv d-flex">
                <div class="game-details flex-grow-1 me-3">
                <img id="gameImage" src="" alt="Game Image" class="img-fluid mb-3" />
                <h3>Description</h3>
                <div id="gameDescription"></div>
                <h3>Release Date</h3>
                <div id="gameReleaseDate"></div>
                <h3>Genre</h3>
                <div id="gameGenre"></div>
                <h3>Developer</h3>
                <div id="gameDeveloper"></div>
                <h3>Publisher</h3>
                <div id="gamePublisher"></div>
                <h3>Price</h3>
                <div id="gamePrice"></div>
                <h3>Random Review</h3>
                <div id="randomReview"></div>
                <h3>Average Rating</h3>
                <div id="averageRating"></div>
                </div>
                
                <!--Carousel for suggested------------------------------------------>
                <div id="GameCarousel" class="carousel slide flex-shrink-0" data-bs-ride="carousel">
                    <h3>Recommended Games</h3>
                    <div class="carousel-indicators">
                        @{
                            //makes indicator buttons
                            int slideNumber = 0;
                            foreach (var game in Model.Where(gr => preferredGenre == "All" || gr.Genre == preferredGenre))
                            {
                                <button type="button" data-bs-target="#GameCarousel" data-bs-slide-to="@slideNumber" class="@(slideNumber == 0 ? "active" : "")" aria-current="@(slideNumber == 0 ? "true" : "false")" aria-label="Slide @slideNumber"></button>
                                ;
                                slideNumber++;
                            }
                        }
                    </div>
                    <div class="carousel-inner">
                        @{
                            // Adds all the items
                            slideNumber = 0;
                            foreach (var game in Model.Where(gr => preferredGenre == "All" || gr.Genre == preferredGenre))
                            {
                                string imageUrl = Url.Content(gameImages["defaultImage"]);

                                if (!string.IsNullOrEmpty(game.Name) && gameImages.ContainsKey(game.Name))
                                {
                                    imageUrl = Url.Content(gameImages[game.Name]);
                                }
                                <div class="carousel-item @(slideNumber == 0 ? "active" : "") sliderimg">
                                    <img src="@imageUrl" class="d-block w-100 sliderimg" alt="@(game.Name)">
                                </div>
                                slideNumber++;
                            }
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#GameCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#GameCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!----------------------------------------------------------------------->
            </div>
            <div class="modal-footer gameInfoDiv">
                <div class="container">
                    
                    <form id="addToCartForm" asp-controller="Cart" asp-action="AddToCart" method="post">
                        <input type="hidden" id="gameIdCart" name="gameId" value="" />
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                    <br /><br />
                   
                    <form id="wishlistForm" asp-controller="Game" asp-action="AddToWishlist" method="post">
                        <input type="hidden" id="gameIdWishlist" name="gameId" value="" />
                        <button id="wishlistButton" type="submit" class="btn btn-primary"></button>
                    </form>
                    <br /><br />
                    
                    <form id="reviewForm" asp-controller="Game" asp-action="AddReview" method="post">
                    <div class="row">
                        <div class="col-md-8">
                             <textarea id="gameCommentReview" name="ReviewText" class="form-control" rows="4" placeholder="Write a review"></textarea>
                        </div>
                        
                    </div>
                    <input type="hidden" id="gameIdReview" name="gameId" value="" />
                    <button id="reviewButton" type="submit" class="btn btn-primary">Submit Review</button>
                    </form>
                    <br /><br />

                    <form id="ratingForm" asp-controller="Game" asp-action="AddRating" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="gameRatingReview">Rating (1-5):</label>
                                <input type="number" id="gameRatingReview" name="score" class="form-control" min="1" max="5">
                            </div>
                        </div>
                        <input type="hidden" id="gameIdRating" name="gameId" value="" />
                        <button id="ratingButton" type="submit" class="btn btn-primary">Submit Rating</button>
                    </form>
                    <br /><br />
                    <h3>All Reviews:</h3>
                    <div id="allReviews">

                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>


                    <form asp-controller="Game" asp-action="AdminDeleteGame" method="post" style="display:@(User .IsInRole("Admin") ? "inline" : "none");">
                            <input type="hidden" id="gameIdDelete" name="gameId" value="" />
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this game?');">Delete Game</button>
                    </form>
                    <br />
                    <br />

                    <form asp-controller="Game" asp-action="EditGame" method="post" style="display:@(User .IsInRole("Admin") ? "inline" : "none");">
                        <input id="editGameid" type="hidden" name="gameId" value="" />
                        <button type="submit" class="btn btn-warning">Edit</button>
                    </form>
                   
                    


                </div>
            </div>
        </div>
    </div>
</div>
<!--View Wishlist-->
@if (SignInManager.IsSignedIn(User))
{
    <div class="text-start">
        <form asp-controller="Game" asp-action="ViewWishlist" method="post">
            <button type="submit" class="btn btn-primary">View Wishlist</button>
        </form>
    </div>
}


<!--Drop down menu to search for tags-->
<div class="text-end">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle bi bi-search" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            Search Tags
        </button>
        <ul class="dropdown-menu dropdownColours">
            <li>
                <button class="btn btn-secondary dropdown-toggle bi bi-search" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Genre
                </button>
                <ul class="dropdown-menu dropdownColours">
                    <li><a class="dropdown-item" style="color:snow;" href="javascript:void(0);" onclick="filterByGenre('all')">All</a></li>
                    <li><a class="dropdown-item" style="color:snow;" href="javascript:void(0);" onclick="filterByGenre('Action')">Action</a></li>
                    <li><a class="dropdown-item" style="color:snow;" href="javascript:void(0);" onclick="filterByGenre('Adventure')">Adventure</a></li>
                    <li><a class="dropdown-item" style="color:snow;" href="javascript:void(0);" onclick="filterByGenre('Role Playing')">Role Playing</a></li>
                </ul>
            </li>
        </ul>

    </div>
    <br />
</div>

<div>
    <div class="container text-center">
        <div class="row">
            @foreach (var game in Model)
            {
                if (game == null)
                {
                    continue;
                }

                <div class="col order-last gameDiv" data-genre="@game.Genre">
                    @{
                        
                        string imageUrl = Url.Content(gameImages["defaultImage"]);

                       
                        if (!string.IsNullOrEmpty(game.Name) && gameImages.ContainsKey(game.Name))
                        {
                            
                            imageUrl = Url.Content(gameImages[game.Name]);
                        }
                    }

                    <a href="javascript:void(0);" onclick="showGameInfo('@game.Name','@game.Description','@imageUrl','@game.Genre','@game.Price','@game.Developer','@game.Publisher', '@game.GameId', '@game.InWishlist', '@game.AverageRating','@game.RandomReview', '@game.ReleaseDate.ToString("MMMM dd, yyyy")')">
                        <img src="@imageUrl" alt="@game.Name" class="gameDivImg" />
                    </a>

                    <br />
                    @game.Name
                </div>
            }
        </div>
    </div>
</div>


