@model List<CVGS_PROG3050.Models.GameViewModel>
<h1>Games</h1>

@{
    var GameImages = new Dictionary<string, string>
    {
        { "Overwatch 2", "/img/OW2.jpg" },
        { "Dead Cells", "/img/deadcell-1.jpeg" },
        { "Elden Ring", "/img/EldenRing.jpeg" },
        { "Fallout 4", "/img/Fallout4-1.jpeg" },
        { "Forza Horizon 5", "/img/ForzaH5.jpeg" },
        { "LEGO: Batman", "/img/Lego_batman_cover.jpg" },
        { "LEGO: Harry Potter", "/img/Legoharrypotter.jpg" },
        { "LEGO: Star Wars", "/img/LegoStarWars.jpeg" },
        { "Monster Hunter: WORLDS", "/img/Monster.jpeg" },
        { "Nioh: Complete Edition", "/img/Nioh.png" },
        { "Risk of Rain 2", "/img/RiskofRain2.jpg" },
        { "Street Fighter 6", "/img/SF6.jpeg" },
        { "The Elder Scrolls V: Skyrim", "/img/Skyrim.jpg" },
        { "Stardew Valley", "/img/StardewValley.jpeg" },
        { "Tekken 8", "/img/Tekken8.jpeg" },
        { "The King of Fighters XV", "/img/TKoF.jpg" },
        { "Destiny 2", "/img/Destiny2.jpeg" },
    };
}
<div class="modal fade" id="gameInfoCard" tabindex="-1" aria-labelledby="gameInfoCardLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 80%;">
        <div class="modal-content">
            <div class="modal-header gameInfoDiv">
                <h5 class="modal-title" id="gameInfoCardLabel">Game Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body gameInfoDiv">
                <img id="gameImage" src="" alt="Game Image" class="img-fluid mb-3" />
                <h3>Description</h3>
                <div id="gameDescription"></div>
                <h3>Genre</h3>
                <div id="gameGenre"></div>
                <h3>Developer</h3>
                <div id="gameDeveloper"></div>
                <h3>Publisher</h3>
                <div id="gamePublisher"></div>
                <h3>Price</h3>
                <div id="gamePrice"></div>
            </div>
            <div class="modal-footer gameInfoDiv">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <textarea id="gameComment" class="form-control" rows="3" placeholder="Leave a review"></textarea>
                        </div>
                        <div class="col-md-4">
                            <label for="gameRating">Rating (1-5):</label>
                            <input type="number" id="gameRating" class="form-control" min="1" max="5">
                        </div>
                    </div>
                <form asp-controller="Game" asp-action="AddToCart" method="post">
                    <input type="hidden" name="gameId" value="" />
                    <button type="button" class="btn btn-primary">Add to Cart</button>
                </form>
                
                
                <form id="wishlistForm" asp-controller="Game" asp-action="AddToWishlist" method="post">
                    <input type="hidden" id="gameIdWishlist" name="gameId" value="" />
                    <button id="wishlistButton" type="submit" class="btn btn-primary"></button>
                </form>
                
                        
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
    </div>
    </div>
</div>
</div>


<!--Drop down menu to search for tags-->
<div class="text-end">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle bi bi-search" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            Search Tags
        </button>
        <ul class="dropdown-menu dropdownColours">
            <li>
                <button class="btn btn-secondary dropdown-toggle bi bi-search" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Genre
                </button>
                <ul class="dropdown-menu dropdownColours">
                    <li><a class="dropdown-item" style="color:snow;" href="javascript:void(0);" onclick="filterByGenre('all')">All</a></li>
                    <li><a class="dropdown-item" style="color:snow;" href="javascript:void(0);" onclick="filterByGenre('Action')">Action</a></li>
                    <li><a class="dropdown-item" style="color:snow;" href="javascript:void(0);" onclick="filterByGenre('Adventure')">Adventure</a></li>
                    <li><a class="dropdown-item" style="color:snow;" href="javascript:void(0);" onclick="filterByGenre('Role Playing')">Role Playing</a></li>
                </ul>
            </li>
        </ul>

    </div>
</div>

<div>
    <div class="container text-center">
        <div class="row">
        @foreach (var game in Model)
        {
           
                <div class="col order-last gameDiv" data-genre="@game.Genre">
                    @if (GameImages.ContainsKey(game.Name))
                    {
                        <a href="javascript:void(0);" onclick="showGameInfo('@game.Name','@game.Description','@GameImages[game.Name]','@game.Genre','@game.Price','@game.Developer','@game.Publisher', '@game.GameId', '@game.InWishlist')">
                            <img src="@GameImages[game.Name]" alt="@game.Name" class="gameDivImg" />
                        </a>
                    }
                    <br />
                    @game.Name

                </div>
            
        }
        </div>
    </div>
</div>