@* profileview.cshtml
* Vapor
* Revision History
* Austin Cameron, 2024.09.26: Created
* Julia Lebedzeva, 2024.09.29: Revised
*@

@model CVGS_PROG3050.Models.ProfileViewModel

@{
    ViewData["Title"] = "profile";
}
<!--<h1 class="audiowide-regular">@ViewData["Title"]</h1>-->
<input type="hidden" id="activeTab" name="activeTab" value="@(ViewData["ActiveTab"] ?? "Profile")" />
<div class="ULButtonOutline">
    <ul class="nav justify-content-center">
        <li class="nav-item mx-4">
            <button id="toggleProfile" class="btn btn-primary btn-lg audiowide-regular">Profile</button>
        </li>
        <li class="nav-item mx-4">
            <button id="togglePrefrences" class="btn btn-primary btn-lg audiowide-regular">Preferences</button>
        </li>
        <li class="nav-item mx-4">
            <button id="toggleShippingInfo" class="btn btn-primary btn-lg audiowide-regular">Shipping Info</button>
        </li>
        <li class="nav-item mx-4">
            <button id="togglePaymentInfo" class="btn btn-primary btn-lg audiowide-regular">Payment Info</button>
        </li>
        <li class="nav-item mx-4">
            <button id="toggleFandF" class="btn btn-primary btn-lg audiowide-regular">Friends and Family</button>
        </li>
    </ul>
</div>


<br />
<br />
<br />

@* ******* MAIN PROFILE ********@
<div class="text-center" id="AccountMainPage" style="margin-left:160px; margin-right:160px;">
    <h2 class="audiowide-regular">Your Profile</h2>
    @if (TempData["ProfileStatus"] != null)
    {
        <div class="alert alert-info">@TempData["ProfileStatus"]</div>
    }
    <form asp-controller="Account" asp-action="UpdateProfile" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        @Html.HiddenFor(m => m.UserName)
@*          @Html.HiddenFor(m => m.Email)
         @Html.HiddenFor(m => m.StreetAddress)
         @Html.HiddenFor(m => m.City)
         @Html.HiddenFor(m => m.Province) *@
        <label asp-for="UserName">Username:</label>
        <input asp-for="UserName" id="loginUserName" class="form-control"/>

        <br />
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" id="ProfileEmail" class="form-control" />
        
        <br />
        <label asp-for="FirstName">First Name:</label>
        <input asp-for="FirstName" type="text" id="ProfileFirstName" class="form-control" />
        <br />
        <label asp-for="LastName">Last Name:</label>
        <input asp-for="LastName" type="text" id="ProfileLastName" class="form-control" />
        <br />
        <label asp-for="Gender">Gender:</label> 
        <select asp-for="Gender" class="form-control" id="ProfileGender"> 
            <option value="">Select an option</option> 
            <option value="Man">Man</option> 
            <option value="Woman">Woman</option> 
            <option value="Other">Other</option> 
        </select>
        <br />
        <label asp-for="BirthDate">Birth Day:</label>
        <input asp-for="BirthDate" class="form-control" type="date" id="ProfileBirthDate" class="date-picker" />
        <br />
        <label asp-for="PromotionalEmails">Would you like to receive promotional emails from CVGS?:</label> 
        <input asp-for="PromotionalEmails" type="checkbox" id="ProfilePromoEmails" />
        <br />
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-controller="Account" asp-action="Profile" class="btn btn-primary">Cancel</a>
    </form> 
</div>
@* ******* PREFERENCES ********@
<div class="text-center hidden" id="PrefrencesPage" style="margin-left:160px; margin-right:160px;">
    <h3 class="audiowide-regular">Preferences</h3>
    @if (TempData["PreferenceStatus"] != null)
    {
        <div class="alert alert-info">@TempData["PreferenceStatus"]</div>
    }
    <form asp-controller="Account" asp-action="UserPreferences" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <label for="FavoriteGamingPlatform">Favorite gaming platform (or platforms):</label>
        <select asp-for="Preferences.FavoritePlatform" class="form-control">
            <option value="PC">PC</option>
            <option value="Xbox">Xbox</option>
            <option value="PlayStation">PlayStation</option>
            <option value="Nintendo">Nintendo</option>
            <option value="Mobile">Mobile</option>
        </select>


        <br />
        <label for="FavoriteGameCategory">Favorite game category (or categories):</label>
        <select asp-for="Preferences.FavoriteCategory" class="form-control">
            <option value="Action">Action</option>
            <option value="Adventure">Adventure</option>
            <option value="Role Playing">Role-Playing</option>
        </select>
        <br />

        <label for="LanguagePreferences">Language preferences:</label>
        <select asp-for="Preferences.LanguagePreference" class="form-control">
            <option value="English">English</option>
            <option value="French">French</option>
            <option value="Spanish">Spanish</option>
            <option value="Mandarin">Mandarin</option>
        </select>

        <br />
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-controller="Account" asp-action="Profile" class="btn btn-primary">Cancel</a>
    </form>

    

</div>

@* ******* ADDRESS ********@
<div class="text-center hidden" id="ShippingInformationPage" style="margin-left:160px; margin-right:160px;">
    <h3 class="audiowide-regular">Shipping Information</h3>
    @if (TempData["AddressStatus"] != null)
    {
        <div class="alert alert-info">@TempData["AddressStatus"]</div>
    }

    <form asp-controller="Account" asp-action="UserShipping" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <label asp-for="Address.Country" for="Country">Country:</label>
        <select id="Country" asp-for="Address.Country" class="form-control">
            <option value="Canada">Canada</option>
        </select>
        <br />
        <label asp-for="Address.FullName" for="FullName">Full name (First and Last name):</label>
        <input asp-for="Address.FullName" class="form-control" type="text" id="FullName" />
        <br />
        <label asp-for="Address.PhoneNumber" for="PhoneNumber">Phone number:</label>
        <input asp-for="Address.PhoneNumber" class="form-control" type="tel" id="PhoneNumber" maxlength="10" />
        <br />
        <label asp-for="Address.StreetAddress" for="StreetAddress">Street address:</label>
        <input asp-for="Address.StreetAddress" class="form-control" type="text" id="StreetAddress" />
        <br />
        <label asp-for="Address.Address2" for="AptSuite">Apt - Suite:</label>
        <input asp-for="Address.Address2" class="form-control" type="text" id="AptSuite" />
        <br />
        <label asp-for="Address.City" for="City">City:</label>
        <input asp-for="Address.City" class="form-control" type="text" id="City" />
        <br />
        <label asp-for="Address.Province" for="Province">Province:</label>
        <select id="Province" asp-for="Address.Province" class="form-control">
            <option value="Ontario">Ontario</option>
            <option value="Quebec">Quebec</option>
            <option value="Nova Scotia">Nova Scotia</option>
            <option value="New Brunswick">New Brunswick</option>
            <option value="Manitoba">Manitoba</option>
            <option value="British Columbia">British Columbia</option>
            <option value="PEI">PEI</option>
            <option value="Saskatchewan">Saskatchewan</option>
            <option value="Alberta">Alberta</option>
            <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
            <option value="Northwest Territories">Northwest Territories</option>
            <option value="Yukon">Yukon</option>
            <option value="Nunavut">Nunavut</option>
        </select>
        <br />
        <label asp-for="Address.PostalCode" for="PostalCode">Postal code:</label>
        <input asp-for="Address.PostalCode" class="form-control" type="text" id="PostalCode" />
        <br />
        <label asp-for="Address.DeliveryInstructions" for="DeliveryInstructions">Delivery instructions:</label>
        <textarea asp-for="Address.DeliveryInstructions" class="form-control" id="DeliveryInstructions"></textarea>
        <br />
        <label asp-for="Address.MailingSameAsShipping" for="SameAddress">Mailing and shipping address are the same:</label>
        <input asp-for="Address.MailingSameAsShipping" type="checkbox" id="SameAddress" />
        <br />

        
        <div id="shippingAddressSection">
            <h2>Shipping Address</h2>
            <label asp-for="Address.ShippingCountry" for="ShippingCountry">Country:</label>
            <select id="ShippingCountry" asp-for="Address.ShippingCountry" class="form-control">
                <option value="Canada">Canada</option>
            </select>
            <br />
            <label asp-for="Address.ShippingFullName" for="ShippingFullName">Full name (First and Last name):</label>
            <input asp-for="Address.ShippingFullName" class="form-control" type="text" id="ShippingFullName" />
            <br />
            <label asp-for="Address.ShippingPhoneNumber" for="ShippingPhoneNumber">Phone number:</label>
            <input asp-for="Address.ShippingPhoneNumber" class="form-control" type="tel" id="ShippingPhoneNumber" maxlength="10" />
            <br />
            <label asp-for="Address.ShippingStreetAddress" for="ShippingStreetAddress">Street address:</label>
            <input asp-for="Address.ShippingStreetAddress" class="form-control" type="text" id="ShippingStreetAddress" />
            <br />
            <label asp-for="Address.ShippingAddress2" for="ShippingAptSuite">Apt - Suite:</label>
            <input asp-for="Address.ShippingAddress2" class="form-control" type="text" id="ShippingAptSuite" />
            <br />
            <label asp-for="Address.ShippingCity" for="ShippingCity">City:</label>
            <input asp-for="Address.ShippingCity" class="form-control" type="text" id="ShippingCity" />
            <br />
            <label asp-for="Address.ShippingProvince" for="ShippingProvince">Province:</label>
            <select id="ShippingProvince" asp-for="Address.ShippingProvince" class="form-control">
                <option value="Ontario">Ontario</option>
                <option value="Quebec">Quebec</option>
                <option value="Nova Scotia">Nova Scotia</option>
                <option value="New Brunswick">New Brunswick</option>
                <option value="Manitoba">Manitoba</option>
                <option value="British Columbia">British Columbia</option>
                <option value="PEI">PEI</option>
                <option value="Saskatchewan">Saskatchewan</option>
                <option value="Alberta">Alberta</option>
                <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
                <option value="Northwest Territories">Northwest Territories</option>
                <option value="Yukon">Yukon</option>
                <option value="Nunavut">Nunavut</option>
            </select>
            <br />
            <label asp-for="Address.ShippingPostalCode" for="ShippingPostalCode">Postal code:</label>
            <input asp-for="Address.ShippingPostalCode" class="form-control" type="text" id="ShippingPostalCode" />
            <br />
            <label asp-for="Address.ShippingDeliveryInstructions" for="ShippingDeliveryInstructions">Delivery instructions:</label>
            <textarea asp-for="Address.ShippingDeliveryInstructions" class="form-control" id="ShippingDeliveryInstructions"></textarea>
            <br />

        </div>

        <button type="submit" class="btn btn-primary" id="saveAddressBtn">Save</button>
        <a asp-controller="Account" asp-action="Profile" class="btn btn-primary">Cancel</a>
    </form>
</div>

@* ******* PAYMENT ********@
<div id="PaymentMethodPage" class="hidden text-center" style="margin-left:160px; margin-right:160px;">
    <h3 class="audiowide-regular">Payment Information</h3>

    @if (TempData["PaymentStatus"] != null)
    {
        <div class="alert alert-info">@TempData["PaymentStatus"]</div>
    }
    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-controller="Account" asp-action="CardAdd" method="post">
        <label asp-for="Payment.NameOnCard">Full name on card (First and Last name):</label>
        <input asp-for="Payment.NameOnCard" class="form-control" type="text" id="NameOnCard" />
    <br />
        <label asp-for="Payment.CardNumber">Credit Card Number:</label>
        <input asp-for="Payment.CardNumber" class="form-control" type="text" id="CreditCardNumber" maxlength="16" />
    <br />
        <label asp-for="Payment.CVVCode">CVV:</label>
        <input asp-for="Payment.CVVCode" class="form-control" type="text" id="CVVNumber" maxlength="3" />
    <br />
        <label asp-for="Payment.ExpirationDate">Expiry Date (MM/YY):</label>
        <input asp-for="Payment.ExpirationDate" class="form-control" type="text" id="ExpiryDate" class="date-picker" />
    <br />
    <button id="savePaymentBtn"type="submit" class="btn btn-primary">Save</button>
    <a asp-controller="Account" asp-action="Profile" class="btn btn-primary">Cancel</a>
    </form>
</div>

@* ******* Friends and Family ********@
<div id="FriendsandFamilyPage" class="hidden text-center" style="margin-left:160px; margin-right:160px;">
    <h3 class="audiowide-regular">Friends and Family</h3>
    @if (TempData["FriendStatus"] != null)
    {
        <div class="alert alert-info">@TempData["FriendStatus"]</div>
    }

    <br />
    <h4>Friends List</h4>
    <!--Add stuff for listing friends and family here (forloop)-->
    <div class="friendsDiv">
        <ul class="list-group">
            @foreach(var friend in Model.Friends)
            {
                <li class="list-group-item">
                    <a asp-controller="Account" asp-action="FriendsWishlist" asp-route-friendId="@friend.UserId">
                        @friend.Username
                    </a>
                    <form asp-controller="Friend" asp-action="RemoveFriend" method="post" class="d-inline">
                        <input type="hidden" name="friendId" value="@friend.UserId" />
                        <button type="submit" class="btn btn-danger">Remove Friend</button>
                    </form>
                </li>
            }
        </ul>
    </div>
    <br />

    <h4>All Available Users</h4>
    <div class="allUsersDiv">
        <ul class="list-group">
            @foreach (var user in Model.AllUsers)
            {
                if (!Model.Friends.Any(f => f.UserId == user.UserId))
                {
                    <li class="list-group-item">
                        @user.Username
                    <form asp-controller="Friend" asp-action="AddFriend" method="post" class="d-inline">
                        <input type="hidden" name="friendUsername" value="@user.Username" />
                        <button type="submit" class="btn btn-primary">Add Friend</button>
                    </form>
                    </li>
                }
            }
        </ul>
    </div>
</div>
