@{
    ViewData["Title"] = "Admin";
}
@model CVGS_PROG3050.Entities.Event

<h2 class="audiowide-regular">Admin Panel</h2>


<div class="ULButtonOutline">
    <ul class="nav justify-content-center">
        <li class="nav-item mx-4">
            <button id="toggleAddEvent" class="btn btn-primary btn-lg audiowide-regular">Add Event</button>
        </li>
        <li class="nav-item mx-4">
            <button id="toggleAddGame" class="btn btn-primary btn-lg audiowide-regular">Add Game</button>
        </li>
        <li class="nav-item mx-4">
            <button id="toggleReviews" class="btn btn-primary btn-lg audiowide-regular">See Reviews</button>
        </li>
        <li class="nav-item mx-4">
            <button id="toggleReports" class="btn btn-primary btn-lg audiowide-regular">Generate Report</button>
        </li>
    </ul>
</div>
<br />
<br />
<br />

<div id="AddEventAdminPage" class="text-center" style="margin-left:160px; margin-right:160px;">
    <h3 class="audiowide-regular">Add an Event</h3>
    @if (TempData["EventStatus"] != null)
    {
        <div class="alert alert-info">@TempData["EventStatus"]</div>
    }

    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-controller="Events" asp-action="Create" method="post">
        <label asp-for="EventName">Event Name:</label>
        <input asp-for="EventName" id="eventName" class="form-control" />

        <br />
        <label asp-for="EventDate">Event Date:</label>
        <input asp-for="EventDate" id="ProfileEmail" class="form-control" />

        <br />
        <label asp-for="Location">Location:</label>
        <input asp-for="Location" type="text" class="form-control" />
        <br />
        <label asp-for="LocationType">Location Type:</label>
        <select asp-for="LocationType" class="form-control">
            <option value="">Select an option</option>
            <option value="inPerson">In Person</option>
            <option value="online">Online</option>
        </select>
        <br />
        <label asp-for="EventPrice">Event Price: </label>
        <input asp-for="EventPrice" type="text" class="form-control" />
        <br /> <br />
        <button type="submit" id="" class="btn btn-primary">Create Event</button>

    </form>
</div>

<div id="AddGameAdminPage" class="text-center hidden" style="margin-left:160px; margin-right:160px;">
    <h3 class="audiowide-regular">Add a Game</h3>
    @if (TempData["GameStatus"] != null)
    {
        <div class="alert alert-info">@TempData["GameStatus"]</div>
    }

    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-controller="Games" asp-action="" method="post">
        <label>Game Name:</label>
        <input  id="gameName" class="form-control" />

        <br />

        <label>Game Genre:</label>
        <select id="gameGenre" class="form-control">
            <option value="Adventure">Adventure</option>
            <option value="Role Playing">Role Playing</option>
            <option value="Action">Action</option>
        </select>
        <br />

        <label>Release Date:</label>
        <input type="date" id="releaseDate" class="form-control" />
        <br />
        <label>Game Developer:</label>
        <input type="text" id="gameDeveloper" class="form-control" />
        <br />
        <label>Game Publisher:</label>
        <input type="text" id="gamePublisher" class="form-control" />
        <br />
        <label>Game Description:</label>
        <textarea id="gameDescription" class="form-control" rows="5" cols="50"></textarea>
        <br />
        <label>Game Price:</label>
        <input type="text" id="gamePrice" class="form-control" />
        <br />


        <button type="submit" id="" class="btn btn-primary">Create Game</button>

    </form>
</div>




<div id="ReviewReviewsAdminPage" class="text-center hidden" style="margin-left:160px; margin-right:160px;">
   
        <p>No reviews available.</p>
    

</div>

<div id="GenerateReportAdminPage" class="text-center hidden" style="margin-left:160px; margin-right:160px;">
    <h3 class="audiowide-regular">View Reports</h3>

    <div class="grid-container">
        <div class="grid-item">
            <h4>Member Report</h4>
            <p>Obtain a full detailed listing of Members who have signed up for Vapor.</p>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("ExportMembersToExcel","UserReport")'">Download Member Report (Excel)</button>
        </div>
        <div class="grid-item">
            <h4>Game Report</h4>
            <p>Obtain a full detailed listing of the Games currently being sold on Vapor.</p>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("ExportGamesToExcel","GameReport")'">Download Game Report (Excel)</button>
        </div>
        <div class="grid-item">
            <h4>Event Report</h4>
            <p>Obtain a full detailed listing of the Events on Vapor. The reports also indicates how many members have registered for the event.</p>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("ExportEventsToExcel","EventReport")'">Download Event Report (Excel)</button>
        </div>
    </div>

</div>